.content {
  background-color: var(--white);
  border-radius: 5px;
  border-width: 0px;
  padding: 4rem 3rem;

  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btnRed {
  background-color: var(--red);
  border-radius: 5px;
  color: white;
  font-family: "Inter";
  font-size: 16px;
  border-width: 0px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  height: 50px;
}

.btnGreen {
  background-color: var(--green);
  border-radius: 5px;
  color: white;
  font-family: "Inter";
  font-size: 16px;
  border-width: 0px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin-left: 8px;
  height: 50px;
}

.bodyImg {
  height: 112px;
  margin-top: 38px;
}

.scores{
    padding-bottom: 25px;
    border-bottom: 1px solid var(--gray-line);
    color: var(--blue);
    font-size: 1.25rem;
    font-weight: 600;
    font-family: "Inter";
    text-align: center;
    width: 100%;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.levelImg {
  height: 66px;
  margin-top: 64px;
  margin-bottom: 34px;
}

.title {
  font-size: 1.5rem;
  font-family: Inter;
  font-weight: 500;
  line-height: 1.4;
  color: var(--title);
  text-align: center;
}

.TitleActive {
  font-weight: 600;
  font-size: 2rem;
  line-height: 40px;
  font-family: "Inter";
  margin: 1.5rem 0 1rem;
  color: var(--title);
}

.description {
  font-size: 16px;
  text-align: center;
  max-width: 70%;
  font-weight: 400;
  font-family: Inter;
  margin-top: 1.3rem;
  line-height: 1.6;
  color: var(--text);
  margin-bottom: 38px;
}


.descriptionActive {
    font-size: 16px;
    text-align: center;
    max-width: 70%;
    font-weight: 300;
    font-family: Inter;
    margin-top: 8px;
    line-height: 1.6;
    color: var(--text);
    margin-bottom: 38px;
  }