
.content{
    background-color: var(--white);
    border-radius: 5px;
    border-width: 0px;
    padding: 4rem 2rem;

    box-shadow: 0 0 60px rgba(0,0,0,0.05);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content > img{
    height: 66px;
    margin-top: 64px;
    margin-bottom: 34px;
}

.title{
    font-size: 1.5rem;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.4;
    color: var(--title);
    text-align: center;
}

.description{
    font-size: 16px;
    max-width: 70%;
    font-family: Inter;
    margin-top: 1.3rem;
    line-height: 1.4;
    color: var(--text);
}