

.content{
    border-bottom: 1px solid #D7D8DA;
    padding-bottom: 1rem;
    display: flex;
    width: 390px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3.5rem 0;
}

.content > p{
    color: var(--text);
    font-weight: 500;
    font-family: "Inter";
    font-size: 1.25rem;
    text-transform: capitalize;
}


.content > span {
    color: var(--text);
    font-weight: 500;
    font-family: "Inter";
    font-size: 1.5rem;
}