
.overlay{
    background-color: rgba(242, 243, 245, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 0px 60px rgba(0,0,0,0.05);
    padding: 2rem 3rem;
    border-radius: 5px;
    text-align: center;
    position: relative;
    background-color: var(--white);
}

.fundo{
    background: url('/icons/levelup.svg') no-repeat;
    height: 150px;
    width: 300px;
    color: var(--blue);
    font-weight: 600;
    font-size: 4.25rem;
    background-size: contain;
    background-position: center;
}

 .title{
    margin-top: 23px;
    font-weight: 600;
    font-size: 2.25rem;
    color: var(--title);
    line-height: 40px;
    font-family: "Inter";
}

.description{
    font-size: 1.25rem;
    color: var(--text);
    margin-top: 0.25rem;
  }


.btnTwitter{
    background-color: var(--blue-twitter);
    color: var(--white);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border-radius: 5px;
    width: 300px;
    padding-top: 16px;
    margin-top: 32px;
    padding-bottom: 16px;
    border-width: 0px;
}


.container button{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background: transparent;
    border: 0;
    font-size: 0px;
}