
    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    .content > span{ 
        font-size: 1rem;
    }

    .barProgress{
        flex: 1;
        height: 4px;
        background: var(--gray-line);
        border-radius: 4px;
        margin: 1.5rem;
        position: relative;
    }
        
    .barSuccess{
        height: 4px;
        background-color: var(--green);
    }
    
    .level{
        padding-top: 13px;
        float: right;
        transform: translateX(50%);
    }
        
    



