

.avatar{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-right: 23px;
}


.name{
    color: var(--title);
    font-family: "Inter";
    font-size: 24px;
    margin-bottom: 8px;
    text-transform: capitalize;
    font-weight: 600;
}

.details{
    display: flex;
    width: 350px;
    flex-direction: column;
}

.details > div > .icon{
    height: 16px;
    width: 14px;
    margin-right: 9px;
}

.details > div{
    display: flex;
    flex-direction: row;
}

.details > div .level{
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "Inter";
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 106px;
}