

.avatar{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}


.name{
    color: var(--title);
    font-family: "Inter";
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    font-weight: 600;
}

.details{
    display: flex;
    width: 350px;
    flex-direction: column;
}

.details > div > .icon{
    margin-right: 0.5rem;
}

.details > div{
    display: flex;
    flex-direction: row;
}

.details > div .level{
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1rem;
    font-family: "Inter";
}
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 106px;
}