

    :root{
        --white: #fff;
        --background: #f2f3f5;
        --gray-line: #DCDDE0;
        --text: #666666;
        --text-highlight: #B3B9FF;
        --title: #2E384D;
        --red: #E83F5B;
        --green: #4CD62B;
        --blue: #5965E6;
        --blue-dark: #4953B8;
        --blue-twitter: #2AA9E0;
    }

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }


    body{ 
        background-color: var(--background);
        color: var(--text);
    }


    a{ 
        color: inherit;
        text-decoration: none;
    }

    body,input,textarea,button{
        font: 400 16px "Inter", sans-serif;
    }

    button{ 
        cursor: pointer;
    }

    